body {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
  margin: 0 auto;
}

h2 {
  color: white;
}

div {
  width: 75vh;
}

.board {
  position: relative;
  background-color: gainsboro;
  height: 75vh;
  margin: 0 auto;
}

.endgame {
  margin: 0 auto;
  background-color: white;
  height: 75vh;
  display: none;
}

.reset {
  margin: 15px auto;
  display: none;
  text-align: center;
}

.score {
  font-size: 8vh;
  height: 15vh;
  text-align: center;
  margin: 0 auto;
  color: white;
}

p {
  margin: .3em;
}

.square {
  position: absolute;
  background-color: papayawhip;
  width: 30%;
  height: 30%;
  transition: all 1s;
}

.square:hover {
  background-color: hotpink;
  transition: all 1s;
}

#s00 {
  top: 0;
  left: 0;
}

#s01 {
  top: 0;
  left: 35%;
}

#s02 {
  top: 0;
  right: 0;
}

#s10 {
  top: 35%;
  left: 0;
}

#s11 {
  top: 35%;
  left: 35%;
}

#s12 {
  top: 35%;
  right: 0;
}

#s20 {
  bottom: 0;
  left: 0;
}

#s21 {
  bottom: 0;
  left: 35%;
}

#s22 {
  bottom: 0;
  right: 0;
}
